<h2>Ergebnisse LP RWK</h2><div class="rwk_overview"><div><h3>Dettingen 1</h3><p>Dettingen 1 gewinnt auswärts gegen Michelbach 1 mit 1416 zu 1371.</p><table><tr><td>Michael Kneisel</td><td>361 Ringe</td><td>(&#xF8; 354.89)</td></tr><tr><td>Sabine Stein</td><td>352 Ringe</td><td>(&#xF8; 348.56)</td></tr><tr><td>Hans Peter Wienand</td><td>354 Ringe</td><td>(&#xF8; 345.67)</td></tr><tr><td>Uwe Neumann</td><td>349 Ringe</td><td>(&#xF8; 344.44)</td></tr></table></div><div><h3>Dettingen 2</h3><p>Dettingen 2 gewinnt daheim gegen Oberbessenbach 2 mit 1041 zu 914.</p><table><tr><td>Klaus Schwarz</td><td>349 Ringe</td><td>(&#xF8; 353.11)</td></tr><tr><td>Martin Schwarz</td><td>351 Ringe</td><td>(&#xF8; 350.56)</td></tr><tr><td>Andreas Hieser</td><td>341 Ringe</td><td>(&#xF8; 342.89)</td></tr><tr><td>Manfred Wissel</td><td>320 Ringe</td><td>(&#xF8; 303.57)</td></tr></table></div><div><h3>Dettingen 3</h3><p>Dettingen 3 verliert auswärts gegen Oberafferbach 2 mit 1019 zu 1028.</p><table><tr><td>Sebastian Uschek</td><td>353 Ringe</td><td>(&#xF8; 346.88)</td></tr><tr><td>Horst Bott</td><td>356 Ringe</td><td>(&#xF8; 340.56)</td></tr><tr><td>Karsten Küchler</td><td>310 Ringe</td><td>(&#xF8; 312.78)</td></tr><tr><td>Matthias Lang</td><td>288 Ringe</td><td>(&#xF8; 298.63)</td></tr></table></div></div><style>h3 {
  margin-bottom :0;
}
p {
  margin:0;
}
table { 
  border-spacing: 0;
  border-collapse: collapse;
}</style>

<h2>Ergebnisse Sportpistole RWK</h2><div class="rwk_overview"><div><h3>Dettingen 1</h3><p>Dettingen 1 gewinnt auswärts gegen Blankenbach 2 mit 988 zu 944.</p><table><tr><td>Dieter Bauss</td><td>250 Ringe</td><td>(&#xF8; 258.56)</td></tr><tr><td>Albert Stahl</td><td>241 Ringe</td><td>(&#xF8; 255.56)</td></tr><tr><td>Peter Uschek</td><td>248 Ringe</td><td>(&#xF8; 250.67)</td></tr><tr><td>Uwe Neumann</td><td>249 Ringe</td><td>(&#xF8; 246.33)</td></tr></table></div><div><h3>Dettingen 2</h3><p>Dettingen 2 gewinnt daheim gegen 1930 Kleinostheim 2 mit 1017 zu 997.</p><table><tr><td>Sebastian Uschek</td><td>252 Ringe</td><td>(&#xF8; 256.00)</td></tr><tr><td>Michael Fritsche</td><td>252 Ringe</td><td>(&#xF8; 246.00)</td></tr><tr><td>Horst Bott</td><td>253 Ringe</td><td>(&#xF8; 243.44)</td></tr><tr><td>Fabian Fritsche</td><td>260 Ringe</td><td>(&#xF8; 241.00)</td></tr><tr><td>Karsten Küchler</td><td>220 Ringe</td><td>(&#xF8; 205.71)</td></tr></table></div></div><style>h3 {
  margin-bottom :0;
}
p {
  margin:0;
}
table { 
  border-spacing: 0;
  border-collapse: collapse;
}</style>

<h2>Anstehende LG RWK am 6.3.2020</h2><table><tr><td>Heim</td><td>Gast</td></tr><tr><td class="rwk_home">SV Dettingen 2</td><td>SV Dettingen 1</td></tr><tr><td class="rwk_home">Dettingen 3</td><td>Schimborn 1</td></tr><tr><td>1930 Kleinostheim 3</td><td class="rwk_home">Dettingen 4</td></tr><tr><td>Vormwald 3</td><td class="rwk_home">Dettingen 5</td></tr></table><style>.rwk_home {
  font-weight: bold;
}
h2 {
  margin-bottom: 0;
}
table tr td {
  padding-right: 1em;
}</style>
<h2>Anstehende LP RWK am 13.3.2020</h2><table><tr><td>Heim</td><td>Gast</td></tr><tr><td class="rwk_home">Dettingen 1</td><td>Blankenbach 1</td></tr><tr><td>Glattbach 2</td><td class="rwk_home">Dettingen 2</td></tr><tr><td class="rwk_home">Dettingen 3</td><td>Grüntal Hösbach 2</td></tr></table><style>.rwk_home {
  font-weight: bold;
}
h2 {
  margin-bottom: 0;
}
table tr td {
  padding-right: 1em;
}</style>
<h2>Anstehende Sportpistole RWK am 15.3.2020</h2><table><tr><td>Heim</td><td>Gast</td></tr><tr><td class="rwk_home">Dettingen 1</td><td>1930 Kleinostheim 1</td></tr><tr><td>Glattbach 2</td><td class="rwk_home">Dettingen 2</td></tr></table><style>.rwk_home {
  font-weight: bold;
}
h2 {
  margin-bottom: 0;
}
table tr td {
  padding-right: 1em;
}</style>

