h2 Ergebnisse #{type} RWK

div(class="rwk_overview")
  each data, index in teams
    each teamName in data.teams
      div
        - var lastRWKHeader = data.lastRoundTeams.find(function(e){ return e.heim.includes(teamName) || e.gast.includes(teamName) })
        h3 #{teamName}
        if lastRWKHeader == null || isNaN(lastRWKHeader.ringGast) && isNaN(lastRWKHeader.ringHeim)
          p Keine Meldung
        else
          if lastRWKHeader.heim.includes(teamName)
            if lastRWKHeader.ringHeim > lastRWKHeader.ringGast
              p !{lastRWKHeader.heim} gewinnt daheim gegen !{lastRWKHeader.gast} mit #{lastRWKHeader.ringHeim} zu #{lastRWKHeader.ringGast}.
            else if lastRWKHeader.ringHeim < lastRWKHeader.ringGast
              p !{lastRWKHeader.heim} verliert daheim gegen !{lastRWKHeader.gast} mit #{lastRWKHeader.ringHeim} zu #{lastRWKHeader.ringGast}.
            else
              p !{lastRWKHeader.heim} erreichen daheim gegen !{lastRWKHeader.gast} ein unentschieden mit #{lastRWKHeader.ringHeim} zu #{lastRWKHeader.ringGast}.
          else
            if lastRWKHeader.ringGast > lastRWKHeader.ringHeim
              p !{lastRWKHeader.gast} gewinnt auswärts gegen !{lastRWKHeader.heim} mit #{lastRWKHeader.ringGast} zu #{lastRWKHeader.ringHeim}.
            else if lastRWKHeader.ringGast < lastRWKHeader.ringHeim
              p !{lastRWKHeader.gast} verliert auswärts gegen !{lastRWKHeader.heim} mit #{lastRWKHeader.ringGast} zu #{lastRWKHeader.ringHeim}.
            else
              p !{lastRWKHeader.gast} erreichen auswärts gegen !{lastRWKHeader.heim} ein unentschieden mit #{lastRWKHeader.ringGast} zu #{lastRWKHeader.ringHeim}.

          table
            each user in data.single.users
              - var userResults = user.singleResultsArr;
              - var result = userResults[userResults.length-1];
              if result.res != "-" && user.team.includes(teamName)
                tr
                  td !{user.firstName} !{user.lastName}
                  td #{result.res} Ringe
                  td (&#xF8; #{user.average.toFixed(2)})


style.
  h3 {
    margin-bottom :0;
  }
  p {
    margin:0;
  }
  table { 
    border-spacing: 0;
    border-collapse: collapse;
  }
