p(class="rwk_tabs")
  each team, index in teams
    span(class="rwk_tablinks rwk_tablinks_"+type class=(index == 0) ? 'active' : '' onclick="rwk_openTab(event, 'rwk_"+type+"_"+team.title+"', '"+type+"')") #{team.title}

div(class="rwk_overview")
  each data, index in teams
    div(id="rwk_"+type+"_"+data.title class="rwk_team rwk_team_"+type style={display: (index == 0) ? 'block' : 'none' })
      h2
        a(href=data.url target="_blank") #{data.single.class_name}
      div(class="rwk_table") !{data.team}
        br
        table
          tr
            th Name
            th Verein
            th &#xF8;-Ringe
            - var i = 0;
            while i < data.single.max_turn_number
              - i++;
              th #{i}.
          each user in data.single.users
            tr
              td #{user.firstName} #{user.lastName}
              td #{user.team}
              td #{user.average.toFixed(2)}
              each result in user.singleResultsArr
                td #{result.res}

script.
  function rwk_openTab(evt, showName, type) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("rwk_team_"+type);
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("rwk_tablinks_"+type);
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(showName).style.display = "block";
    evt.currentTarget.className += " active";
  }

style.
  .rwk_tabs {
      overflow: hidden;
  }

  .rwk_tabs .rwk_tablinks {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding-right: 1em;
  }

  .rwk_tabs .rwk_tablinks.active {
      color: #d91010;
  }
