h2 Anstehende #{type} RWK am #{selected}
- var teams = data[selected];
table
  tr
    td Heim
    td Gast
  each pair in teams
    tr
      td(class= (pair[1] == 'Heim') ? 'rwk_home' : '') #{pair[0][0]}
      td(class= (pair[1] != 'Heim') ? 'rwk_home' : '') #{pair[0][1]}

style.
  .rwk_home {
    font-weight: bold;
  }
  h2 {
    margin-bottom: 0;
  }
  table tr td {
    padding-right: 1em;
  }
  

