p(class="rwk_tabs")
  each teams, index in data
    span(class="rwk_tablinks rwk_tablinks_"+type class=(index == selected) ? 'active' : '' onclick="rwk_openTab(event, 'rwk_"+type+"_"+index+"', '"+type+"')") #{index}

div(class="rwk_overview")
  each teams, index in data
    div(id="rwk_"+type+"_"+index class="rwk_team rwk_team_"+type style={display: (index == selected) ? 'block' : 'none' })
        h3 #{index}
        div(class="rwk_table")
          table
            tr
              td Heim
              td Gast
            each pair in teams
              tr
                td(class= (pair[1] == 'Heim') ? 'rwk_home' : '') #{pair[0][0]}
                td(class= (pair[1] != 'Heim') ? 'rwk_home' : '') #{pair[0][1]}

script.
  function rwk_openTab(evt, showName, type) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("rwk_team_"+type);
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("rwk_tablinks_"+type);
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(showName).style.display = "block";
    evt.currentTarget.className += " active";
  }

style.
  .rwk_tabs {
      overflow: hidden;
  }

  .rwk_tabs .rwk_tablinks {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding-right: 1em;
  }

  .rwk_tabs .rwk_tablinks.active {
      color: #d91010;
  }



  

