---
showFullAsDetail: true
title: LG
subMenuOrder: 10
---
<p class="rwk_tabs"><span class="rwk_tablinks rwk_tablinks_LG active" onclick="rwk_openTab(event, 'rwk_LG_Dettingen 1', 'LG')">Dettingen 1</span><span class="rwk_tablinks rwk_tablinks_LG" onclick="rwk_openTab(event, 'rwk_LG_Dettingen 2', 'LG')">Dettingen 2</span><span class="rwk_tablinks rwk_tablinks_LG" onclick="rwk_openTab(event, 'rwk_LG_Dettingen 3', 'LG')">Dettingen 3</span></p><div class="rwk_overview"><div class="rwk_team rwk_team_LG" id="rwk_LG_Dettingen 1" style="display:block;"><h2><a href="https://www.rwk-onlinemelder.de/online/listen/800?sel_group_id=32&amp;sel_discipline_id=1&amp;sel_class_id=3&amp;sel_turn_date=&amp;sel_list_type=teamList" target="_blank"></a></h2><div class="rwk_table"><table border="0" cellspacing="0" cellpadding="0" class="resultTable">
                        <tbody><tr class="head">
                            <td class="rank">Rang</td>
                            <td class="team">Mannschaft</td>
                            <td class="countCompetitions">Anzahl WK</td>
                
                                    <td class="points" colspan="5">Mannschaftspunkte</td>
                        
                            <td class="rings">Ringe</td>
                            <td class="average">&#xD8;-Ringe</td>        </tr>
                
                            <tr class="content">
                                <td class="rank">1.</td>
                                <td class="team"><nobr>SV Dettingen 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1521</td>
                                <td class="average">1521,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">2.</td>
                                <td class="team"><nobr>SV Gro&#xDF;laudenbach 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1511</td>
                                <td class="average">1511,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">3.</td>
                                <td class="team"><nobr>KKSG Sulzbach 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1486</td>
                                <td class="average">1486,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">4.</td>
                                <td class="team"><nobr>SG Eisenbach 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1485</td>
                                <td class="average">1485,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">5.</td>
                                <td class="team"><nobr>SG 1917 A`burg-Damm/ Streitwald 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1502</td>
                                <td class="average">1502,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">6.</td>
                                <td class="team"><nobr>SV Schimborn 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1485</td>
                                <td class="average">1485,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">7.</td>
                                <td class="team"><nobr>SV Umpfenbach 2</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1421</td>
                                <td class="average">1421,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">8.</td>
                                <td class="team"><nobr>KKSV Wildensee 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1130</td>
                                <td class="average">1130,00</td>
                        
                            </tr>
                        
                    </tbody></table><br/><table><tr><th>Name</th><th>Verein</th><th>&#xF8;-Ringe</th></tr></table></div></div><div class="rwk_team rwk_team_LG" id="rwk_LG_Dettingen 2" style="display:none;"><h2><a href="https://rwk-onlinemelder.de/online/listen/802?sel_group_id=34&amp;sel_discipline_id=7&amp;sel_class_id=60&amp;sel_turn_date=&amp;sel_list_type=teamList" target="_blank"></a></h2><div class="rwk_table"><table border="0" cellspacing="0" cellpadding="0" class="resultTable">
                        <tbody><tr class="head">
                            <td class="rank">Rang</td>
                            <td class="team">Mannschaft</td>
                            <td class="countCompetitions">Anzahl WK</td>
                
                                    <td class="points" colspan="5">Mannschaftspunkte</td>
                        
                            <td class="rings">Ringe</td>
                            <td class="average">&#xD8;-Ringe</td>        </tr>
                
                            <tr class="content">
                                <td class="rank">1.</td>
                                <td class="team"><nobr>Schweinheim 1</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">4</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2943</td>
                                <td class="average">1471,50</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">2.</td>
                                <td class="team"><nobr>1930 Kleinostheim 2</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">4</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2903</td>
                                <td class="average">1451,50</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">3.</td>
                                <td class="team"><nobr>Vormwald 2</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2920</td>
                                <td class="average">1460,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">4.</td>
                                <td class="team"><nobr>Sch&#xF6;llkrippen 2</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2896</td>
                                <td class="average">1448,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">5.</td>
                                <td class="team"><nobr>Kahl 1</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2892</td>
                                <td class="average">1446,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">6.</td>
                                <td class="team"><nobr>Stra&#xDF;bessenbach 3</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2428</td>
                                <td class="average">1214,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">7.</td>
                                <td class="team"><nobr>Dettingen 2</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">4</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2882</td>
                                <td class="average">1441,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">8.</td>
                                <td class="team"><nobr>Haibach 4</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">4</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2810</td>
                                <td class="average">1405,00</td>
                        
                            </tr>
                        
                    </tbody></table><br/><table><tr><th>Name</th><th>Verein</th><th>&#xF8;-Ringe</th></tr></table></div></div><div class="rwk_team rwk_team_LG" id="rwk_LG_Dettingen 3" style="display:none;"><h2><a href="https://rwk-onlinemelder.de/online/listen/802?sel_group_id=34&amp;sel_discipline_id=7&amp;sel_class_id=62&amp;sel_turn_date=&amp;sel_list_type=teamList" target="_blank"></a></h2><div class="rwk_table"><table border="0" cellspacing="0" cellpadding="0" class="resultTable">
                        <tbody><tr class="head">
                            <td class="rank">Rang</td>
                            <td class="team">Mannschaft</td>
                            <td class="countCompetitions">Anzahl WK</td>
                
                                    <td class="points" colspan="5">Mannschaftspunkte</td>
                        
                            <td class="rings">Ringe</td>
                            <td class="average">&#xD8;-Ringe</td>        </tr>
                
                            <tr class="content">
                                <td class="rank">1.</td>
                                <td class="team"><nobr>Adler H&#xF6;sbach 1</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">4</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2956</td>
                                <td class="average">1478,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">2.</td>
                                <td class="team"><nobr>Sailauf 1</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">4</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2934</td>
                                <td class="average">1467,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">3.</td>
                                <td class="team"><nobr>Glattbach 2</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1464</td>
                                <td class="average">1464,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">4.</td>
                                <td class="team"><nobr>Oberafferbach 1</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">2</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">0</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1450</td>
                                <td class="average">1450,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">5.</td>
                                <td class="team"><nobr>Dettingen 3</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1451</td>
                                <td class="average">1451,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank"></td>
                                <td class="team"><nobr>Oberbessenbach 2</nobr></td>
                                <td class="countCompetitions">1</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">2</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">1451</td>
                                <td class="average">1451,00</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">7.</td>
                                <td class="team"><nobr>Gr&#xFC;ntal H&#xF6;sbach 1</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">4</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2859</td>
                                <td class="average">1429,50</td>
                        
                            </tr>
                        
                            <tr class="content">
                                <td class="rank">8.</td>
                                <td class="team"><nobr>Schimborn 2</nobr></td>
                                <td class="countCompetitions">2</td>
                        
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                                    <td class="pointsLeft">0</td>
	                                    <td class="colon">:</td>
	                                    <td class="pointsRight">4</td>
	                                    <td class="pointsTeamEmpty">&#xA0;</td>
	                            
                                <td class="rings">2796</td>
                                <td class="average">1398,00</td>
                        
                            </tr>
                        
                    </tbody></table><br/><table><tr><th>Name</th><th>Verein</th><th>&#xF8;-Ringe</th></tr></table></div></div></div><script>function rwk_openTab(evt, showName, type) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("rwk_team_"+type);
  for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("rwk_tablinks_"+type);
  for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(showName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script><style>.rwk_tabs {
    overflow: hidden;
}

.rwk_tabs .rwk_tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-right: 1em;
}

.rwk_tabs .rwk_tablinks.active {
    color: #d91010;
}</style>
