<p>LG Kämpfe am 11.10.2019:</p><table><tr><td>Heim</td><td>Gast</td></tr><tr><td>SV Umpfenbach 2</td><td class="rwk_home">SV Dettingen 1</td></tr><tr><td>SV Großlaudenbach 1</td><td class="rwk_home">SV Dettingen 2</td></tr><tr><td class="rwk_home">Dettingen 3</td><td>Stockstadt 1</td></tr><tr><td class="rwk_home">Dettingen 4</td><td>Sailauf 1</td></tr><tr><td>Kahl 1</td><td class="rwk_home">Dettingen 5</td></tr></table><style>.rwk_home {
  font-weight: bold;
}</style>
